fastapi
uvicorn
pymongo
pandas
scikit-learn
ultralytics
boto3
psycopg2
python-dotenv
pydantic
opencv-python
Pillow
numpy
python-multipart==0.0.10
rapidfuzz
easyocr
shapely
sentence_transformers
tf_keras
faiss-cpu
requests